# Gradle files
.gradle/
build/

# Local configuration file (sdk path, etc)
local.properties

# Intellij
*.iml
.idea/

# Keystore files
*.jks

# External Gradle properties
keystore.properties

# Google Services (e.g. APIs or Firebase)
google-services.json
