<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.uni_marburg.mathematik.ds.serval">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />

    <application
        android:name=".Aardvark"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/aardvark_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AardvarkTheme.Splash">
        <activity
            android:name="de.uni_marburg.mathematik.ds.serval.activities.StartActivity"
            android:label="@string/aardvark_name"
            android:noHistory="true"
            android:theme="@style/AardvarkTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="de.uni_marburg.mathematik.ds.serval.activities.IntroActivity"
            android:theme="@style/AardvarkTheme.Intro" />
        <activity
            android:name="de.uni_marburg.mathematik.ds.serval.activities.FingerprintActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Base.Theme.AppCompat.Dialog" />
        <activity
            android:name="de.uni_marburg.mathematik.ds.serval.activities.MainActivity"
            android:configChanges="orientation|screenSize|locale"
            android:theme="@style/AardvarkTheme" />
        <activity
            android:name="de.uni_marburg.mathematik.ds.serval.activities.DetailActivity"
            android:theme="@style/Kau.Translucent.SlideBottom" />
        <activity
            android:name="de.uni_marburg.mathematik.ds.serval.activities.SettingsActivity"
            android:theme="@style/AardvarkTheme.Settings" />
        <activity
            android:name="de.uni_marburg.mathematik.ds.serval.activities.AboutActivity"
            android:theme="@style/Kau.About" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="${KEY_FABRIC}" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${KEY_GOOGLE_MAPS}" />
    </application>

</manifest>